// Grays
$black:                       #000;
$grayDarker:                  #222;
$grayDark:                    #333;
$gray:                        #777;
$grayLight:                   #aaa;
$grayLighter:                 #eee;
$grayLightest:                #f0f0eb;
$white:                       #fff;

// Accent colors
$bgTan:                       #f0f0eb;

// Typography
$fontFamily:            "Helvetica Neue", Helvetica, Arial, sans-serif;
